<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Group Members</strong></h1>
        <p class="text-secondary">Yuri: DevOps</p>
        <p class="text-secondary">Raunak: Backend</p>
        <p class="text-secondary">Harsha: Front End</p>
        <p class="text-secondary">Sachit: Backend</p>
        <p class="text-secondary">Tanay: Scrum Master</p>
        <br>
        <br>
        <br>
        <h1 class="text-primary"><strong>Scrum Plan</strong></h1>
        <img src="https://yuricoder07.github.io/myfiles/images/info.png" alt="Scrum Plan">
        <br>
        <br>
        <br>
        <h1 class="text-primary"><strong>Team Project Ideas:</strong></h1>
        <p class="text-secondary">Our team project will be similar to the clock app on iphone where there are many functions. These functions include showing the time through the use of a digital clock, timer, stopwatch, and showing different times in different time zones. All of these functions essentially serve the same purpose in different ways: To allow the user to keep track of time.</p>
        <h1 class="text-primary"><strong>Team Project Plan:</strong></h1>
        <p class="text-secondary">Here is our plan for how we will complete each component of the rubric:</p>
        <p class="text-secondary">Row 1: Program Purpose and Function
            The purpose of the program is to allow the user to use the many features available relating to time.</p>
        <p class="text-secondary">Row 2: Data Abstraction
            The data in the program will be stored mainly in dictionaries. Dictionaries can be used to store times for different time zones.</p>
        <p class="text-secondary">Row 2: Data Abstraction
            The data in the program will be stored mainly in dictionaries. Dictionaries can be used to store times for different time zones.</p>
        <p class="text-secondary">Row 3: Managing Complexity
            Dictionaries can also be used to manage complexity because they limit the need for single variables by grouping variables together.</p>
        <p class="text-secondary">Row 4: Procedural Abstraction
            We will make it so that it separates the timezones for each part of the world. We will also separate this from the other features in our clock app.</p>
        <p class="text-secondary">Row 5: Algorithm Implementation
            We will be use APIs, sequencing, selecting, and iterating in order to make the program compile the clock app. </p>
        <p class="text-secondary">Row 6: Testing
            This program will need to be tested a lot to make sure all the features work both individually and together.</p>
        
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
